@font-face {
    font-family: 'eina01';
    src: url('../fonts/eina01-bold-webfont.woff2') format('woff2'),
         url('../fonts/eina01-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

// @font-face {
//     font-family: 'eina01';
//     src: url('../fonts/eina01-bolditalic-webfont.woff2') format('woff2'),
//          url('../fonts/eina01-bolditalic-webfont.woff') format('woff');
//     font-weight: 700;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'eina01';
//     src: url('../fonts/eina01-light-webfont.woff2') format('woff2'),
//          url('../fonts/eina01-light-webfont.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'eina01';
//     src: url('../fonts/eina01-lightitalic-webfont.woff2') format('woff2'),
//          url('../fonts/eina01-lightitalic-webfont.woff') format('woff');
//     font-weight: 300;
//     font-style: italic;
// }

@font-face {
    font-family: 'eina01';
    src: url('../fonts/eina01-regular-webfont.woff2') format('woff2'),
         url('../fonts/eina01-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'eina01';
//     src: url('../fonts/eina01-regularitalic-webfont.woff2') format('woff2'),
//          url('../fonts/eina01-regularitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: italic;
// }

@font-face {
    font-family: 'eina01';
    src: url('../fonts/eina01-semibold-webfont.woff2') format('woff2'),
         url('../fonts/eina01-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

// @font-face {
//     font-family: 'eina01';
//     src: url('../fonts/eina01-semibolditalic-webfont.woff2') format('woff2'),
//          url('../fonts/eina01-semibolditalic-webfont.woff') format('woff');
//     font-weight: 600;
//     font-style: italic;
// }